<div class="p-2" align="end">
    <app-add-button (click)="launchmodalAssure(0,{}, modalSize)" title="Personne Morale"></app-add-button>&nbsp;
    <app-add-button (click)="launchmodalAssure(1,{}, modalSize)" title="Personne Physique"></app-add-button>
</div>

<form class="p-2" [formGroup]="getFormInstance()">
    <clv-advanced-table
            [params]="getTableParams()" [formArrayName]="getArrayName()"
            (page)="setPageParams($event)" (search)="setSearchParams($event)">
        <ng-container class="clv-tr" *ngFor="let elt of getFormInstance()?.get(getArrayName())?.controls;let i=index">
            <clv-tr [params]="getTableParams()" [data]="getFormData()?.Items[i]" [formGroupName]="i" [id]="i">
                <clv-td align="center">{{getFormData()?.Items[i]?.TypePersonne?.LibelleTypePersonne}}</clv-td>
                <clv-td align="center">{{getFormData()?.Items[i]?.NumeroAssure}}</clv-td>
                <clv-td align="center">{{getFormData()?.Items[i]?.Filiale?.NomFilliale}}</clv-td>
                <clv-td align="center">
                    <app-table-update-button (click)="(getFormData()?.Items[i]?.TypePersonne?.LibelleTypePersonne === 'Personne Morale') ?
                             launchmodalAssure(0, getFormData()?.Items[i], modalSize) :
                             launchmodalAssure(1, getFormData()?.Items[i], modalSize);"></app-table-update-button>&nbsp;
                    <app-table-delete-button (click)="askDelete(getFormData()?.Items[i])"></app-table-delete-button>&nbsp;
                </clv-td>

            </clv-tr>
        </ng-container>
    </clv-advanced-table>
</form>