<app-modal-template title="Etapes Processus" (onClose)="closeModal()" [modalClass]="'bg-primary'">
    <form class="body" [formGroup]="getFormInstance()" ngNativeValidate>
        <div fxLayout="row wrap" fxLayoutGap="10px" class="control">
            <!--field-->
            <div fxFlex.md="100" fxFlex.lg="100">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput
                           [placeholder]="translateService?.instant('ETAPE_PROCESSUS.FORM.LIBELLE.PLACEHOLDER')"
                           formControlName="Libelle" required>
                    <mat-hint align="start">{{translateService?.instant('ETAPE_PROCESSUS.FORM.LIBELLE.HINT')}}</mat-hint>
                </mat-form-field>
                <app-form-error-list [submitted]="submitted" name="Libelle" [formGroup]="getFormInstance()"></app-form-error-list>
            </div>
            <!--end field-->
            <!--field-->
            <div fxFlex.md="100" fxFlex.lg="100">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput
                           [placeholder]="translateService?.instant('STATUT_AFFAIRE.FORM.DESCRIPTION.PLACEHOLDER')"
                           formControlName="Description" required>
                    <mat-hint
                            align="start">{{translateService?.instant('STATUT_AFFAIRE.FORM.DESCRIPTION.HINT')}}</mat-hint>
                </mat-form-field>
                <app-form-error-list [submitted]="submitted" name="Description" [formGroup]="getFormInstance()"></app-form-error-list>
            </div>
            <!--end field-->
            <!--field-->
            <div fxFlex.md="100" fxFlex.lg="100">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput
                           [placeholder]="translateService?.instant('ETAPE_PROCESSUS.FORM.POSITION.PLACEHOLDER')"
                           formControlName="Position" required>
                    <mat-hint
                            align="start">{{translateService?.instant('ETAPE_PROCESSUS.FORM.POSITION.HINT')}}</mat-hint>
                </mat-form-field>
                <app-form-error-list [submitted]="submitted" name="Position" [formGroup]="getFormInstance()"></app-form-error-list>
            </div>
            <!--end field-->
        </div>
    </form>
    <div class="footer w-100" [style.justify-content]="'space-between'" [style.display]="'flex'">
        <div></div>
        <div>
            <button mat-raised-button class="bg-primary" type="button"
                    (click)="sendForm()">
                {{translateService?.instant('APPS.ACTIONS.SAVE')}}
            </button>&nbsp;
            <button mat-raised-button mat-dialog-close type="button" cdkFocusInitial class="bg-dark"
                    (click)="closeModal()">
                {{translateService?.instant('APPS.ACTIONS.CANCEL')}}
            </button>
        </div>
    </div>
</app-modal-template>
