<app-content-header
        [title]="translateService?.translate.instant('APPS.CONTENT_HEADERS.ADMINISTRATION.TITLE')"
        [hideBreadcrumb]="false"
        [hasBgImage]="true"
        [class]="'py-3'">
</app-content-header>

<mat-tab-group>
    <mat-tab label="Utilisateurs">
        <ng-template matTabContent>
            <app-re-utilisateurs></app-re-utilisateurs>
        </ng-template>
    </mat-tab>
    <mat-tab label="Rôles">
        <ng-template matTabContent>
            <app-re-profil></app-re-profil>
        </ng-template>
    </mat-tab>
    <mat-tab label="Fonctionnalités">
        <ng-template matTabContent>
            <app-re-fonctionnalite></app-re-fonctionnalite>
        </ng-template>
    </mat-tab>
    <mat-tab label="Attribution de fonctionnalités">
        <ng-template matTabContent>
            <app-re-utilisateur-fonctionnalite></app-re-utilisateur-fonctionnalite>
        </ng-template>
    </mat-tab>
    <mat-tab label="Personnes">
        <ng-template matTabContent>
            <app-re-personne></app-re-personne>
        </ng-template>
    </mat-tab>
</mat-tab-group>
