@import "../../../clever-bootstrap/clever_bootstrap";
.mat-chip.info-chip{
  padding: 4px 8px;
  .mat-icon{
    margin-right: 4px;
  }
}
.h-100p{
  height: 100px;
}
.valeur-numerique {
  @include font-size(2rem);
  @include font-weight(800);
  @include padding(0px 10px);
}