<form [formGroup]="getFormInstance()">
    <div class="p-2">
        <table class="table table-main-leve mat-elevation-z1 clv-bg-white">
            <thead>
            <tr>
                <th width="25%">Parts souscrites</th>
                <th width="10%">Capitaux assurés</th>
                <th width="10%">Primes</th>
                <th width="10%">Taux com</th>
                <th width="10%">Comissions</th>
                <th width="10%">Prime nette</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <app-autocomplete-reassureur
                        #reassureur
                        [submitted]="submitted"
                        [(inputValue)]="reassureurIv"
                        (onInputChange)="optionInputHasChanged($event)"
                        name="IdReassureur" required="true"
                        [placeholder]="''"
                        [hint]="''"></app-autocomplete-reassureur>
                </td>
                <td>
                    <mat-form-field>
                        <input matInput [value]="" />
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <input matInput [value]="" />
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <input matInput [value]="" />
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <input matInput [value]="" />
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <input matInput [value]="" />
                    </mat-form-field>
                </td>
                <td>
                    <app-save-button (click)="sendForm()"></app-save-button>&nbsp;
                    <app-cancel-button (click)="clearForm()"></app-cancel-button>
                </td>
            </tr>
            </tbody>
        </table>
        <div align="end">
            <app-reporting-button (click)="displayFicheplacement()" title="Fiche de placement"></app-reporting-button>
        </div>
    </div>
</form>
