<app-modal-template title="Suivis Processus" (onClose)="closeModal()" [modalClass]="'bg-primary'">
    <form class="body" [formGroup]="getFormInstance()" ngNativeValidate>
        <div fxLayout="row wrap" fxLayoutGap="10px" class="control">
            <!--field-->
            <div fxFlex.md="100" fxFlex.lg="100">
                <app-re-combo-etape-processus #etapeProcessus name="IdEtapeProcessus"
                                              [submitted]="submitted"
                                              [(inputValue)]="etapeProcessusIv"
                                              (onInputChange)="optionInputHasChanged($event)"
                                              [placeholder]="translateService?.instant('SUIVI_PROCESSUS.FORM.ID_ETAPE_PROCESSUS.PLACEHOLDER')"
                                              [hint]="translateService?.instant('SUIVI_PROCESSUS.FORM.ID_ETAPE_PROCESSUS.HINT')"
                                              required="true"></app-re-combo-etape-processus>
            </div>
            <!--end field-->
            <!--field-->
            <div fxFlex.md="100" fxFlex.lg="100">
                <app-re-combo-type-echange #typeEchange name="IdTypeEchange"
                                              [submitted]="submitted"
                                              [(inputValue)]="typeEchangeIv"
                                              (onInputChange)="optionInputHasChanged($event)"
                                              [placeholder]="translateService?.instant('SUIVI_PROCESSUS.FORM.ID_TYPE_ECHANGE.PLACEHOLDER')"
                                              [hint]="translateService?.instant('SUIVI_PROCESSUS.FORM.ID_TYPE_ECHANGE.HINT')"
                                              required="true"></app-re-combo-type-echange>
            </div>
            <!--end field-->
        </div>
    </form>
    <div class="footer w-100" [style.justify-content]="'space-between'" [style.display]="'flex'">
        <div></div>
        <div>
            <app-save-button (click)="sendForm()"></app-save-button>&nbsp;
            <app-cancel-button mat-dialog-close cdkFocusInitial (click)="closeModal()"></app-cancel-button>
        </div>
    </div>
</app-modal-template>
