<app-modal-template title="Processus" (onClose)="closeModal()" [modalClass]="'bg-primary'">
    <form class="body" [formGroup]="getFormInstance()" ngNativeValidate>
        <div fxLayout="row wrap" fxLayoutGap="10px" class="control">
            <!--field-->
            <div fxFlex.md="100" fxFlex.lg="100">
                <app-autocomplete-affaire #affaire
                                       [submitted]="submitted"
                                       [(inputValue)]="affaireIv"
                                       (onInputChange)="optionInputHasChanged($event)"
                                       name="IdAffaire" required="true"
                                       [placeholder]="translateService?.instant('PROCESSUS.FORM.AFFAIRE.PLACEHOLDER')"
                                       [hint]="translateService?.instant('PROCESSUS.FORM.AFFAIRE.HINT')"></app-autocomplete-affaire>
            </div>
            <!--end field-->
            <!--field-->
            <div fxFlex.md="100" fxFlex.lg="100">
                <app-autocomplete-type-processus #typeProcessus
                                          [submitted]="submitted"
                                          [(inputValue)]="typeProcessusIv"
                                          (onInputChange)="optionInputHasChanged($event)"
                                          name="IdTypeProcessus" required="true"
                                          [placeholder]="translateService?.instant('PROCESSUS.FORM.TYPE_PROCESSUS.PLACEHOLDER')"
                                          [hint]="translateService?.instant('PROCESSUS.FORM.TYPE_PROCESSUS.HINT')"></app-autocomplete-type-processus>
            </div>
            <!--end field-->
            <!--field-->
            <div fxFlex.md="100" fxFlex.lg="100">
                <app-combo-re-categorie-processus
                        [submitted]="submitted"
                        #categorieProcessus name="Libelle" required="true"
                                          [(inputValue)]="categorieProcessusIv"
                                          (onInputChange)="optionInputHasChanged($event);setCategorie($event)"
                                          [placeholder]="translateService?.instant('PROCESSUS.FORM.CATEGORIE.PLACEHOLDER')"
                                          [hint]="translateService?.instant('PROCESSUS.FORM.CATEGORIE.HINT')"></app-combo-re-categorie-processus>
            </div>
            <!--end field-->
            <!--field-->
            <!--<div fxFlex.md="100" fxFlex.lg="100">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput
                           [placeholder]="translateService?.instant('PROCESSUS.FORM.CATEGORIE.PLACEHOLDER')"
                           formControlName="Categorie" required>
                    <mat-hint align="start">{{translateService?.instant('PROCESSUS.FORM.CATEGORIE.HINT')}}</mat-hint>
                </mat-form-field>
                <app-form-error-list [submitted]="submitted" name="Categorie" [formGroup]="getFormInstance()"></app-form-error-list>
            </div>-->
            <!--end field-->
        </div>
    </form>
    <div class="footer w-100" [style.justify-content]="'space-between'" [style.display]="'flex'">
        <div></div>
        <div>
            <app-save-button (click)="sendForm()"></app-save-button>&nbsp;
            <app-cancel-button mat-dialog-close cdkFocusInitial (click)="closeModal()"></app-cancel-button>
        </div>
    </div>
</app-modal-template>
