<app-modal-template title="Liste des Affaires" (onClose)="closeModal()" [modalClass]="'bg-primary'">
    <form class="p-2 body" [formGroup]="getFormInstance()">
        <clv-advanced-table
                [params]="getTableParams()" [formArrayName]="getArrayName()"
                (page)="setPageParams($event)" (search)="setSearchParams($event)">
            <ng-container class="clv-tr" *ngFor="let elt of getFormInstance()?.get(getArrayName())?.controls;let i=index">
                <clv-tr [params]="getTableParams()" [data]="getFormData()?.Items[i]" [formGroupName]="i" [id]="i">
                    <clv-td align="center">{{getFormData()?.Items[i]?.NumeroOrdre}}</clv-td>
                    <clv-td align="center">{{getFormData()?.Items[i]?.NumeroPolice}}</clv-td>
                    <clv-td align="center">{{getFormData()?.Items[i]?.CapitauxAssure}}</clv-td>
                    <clv-td align="center">{{getFormData()?.Items[i]?.Activite}}</clv-td>
                    <clv-td align="center">{{getFormData()?.Items[i]?.StatutAffaire?.Libelle}}</clv-td>
                    <clv-td align="center">{{getFormData()?.Items[i]?.Branche?.Libelle}}</clv-td>
                    <clv-td align="center">{{getFormData()?.Items[i]?.Filiale?.NomFilliale}}</clv-td>
                    <clv-td align="center">{{getFormData()?.Items[i]?.Assure?.NumeroAssure}}</clv-td>
                    <clv-td align="center">
                        <app-table-update-button (click)="launchmodal(getFormData()?.Items[i], '60%')"></app-table-update-button>&nbsp;
                        <app-table-delete-button (click)="askDelete(getFormData()?.Items[i])"></app-table-delete-button>
                    </clv-td>

                </clv-tr>
            </ng-container>
        </clv-advanced-table>
    </form>
    <div class="footer w-100" [style.justify-content]="'space-between'" [style.display]="'flex'">
        <div></div>
        <div>
            <app-modal-close-button mat-dialog-close></app-modal-close-button>
        </div>
    </div>
</app-modal-template>
