<app-modal-template title="Liste des Placements en FAC " (onClose)="closeModal()" [modalClass]="'bg-primary'">
    <form class="p-2 body" [formGroup]="getFormInstance()">
        <clv-advanced-table
                [params]="getTableParams()" [formArrayName]="getArrayName()"
                (page)="setPageParams($event)" (search)="setSearchParams($event)">
            <ng-container class="clv-tr" *ngFor="let elt of getFormInstance()?.get(getArrayName())?.controls;let i=index">
                <clv-tr [params]="getTableParams()" [data]="getFormData()?.Items[i]" [formGroupName]="i" [id]="i">
                    <clv-td align="center">{{getFormData()?.Items[i]?.DateConsultation | date :'dd/MM/yyyy'}}</clv-td>
                    <clv-td align="center">{{getFormData()?.Items[i]?.DateEffet | date :'dd/MM/yyyy'}}</clv-td>
                    <clv-td align="center">{{getFormData()?.Items[i]?.DateEcheance | date :'dd/MM/yyyy'}}</clv-td>
                    <clv-td align="center">{{getFormData()?.Items[i]?.EnCours | date :'dd/MM/yyyy'}}</clv-td>
                    <clv-td align="center">{{getFormData()?.Items[i]?.GarantieCedee | number:'':'fr-FR'}}</clv-td>
                    <clv-td align="center">{{getFormData()?.Items[i]?.Prime | number:'':'fr-FR'}}</clv-td>
                    <clv-td align="center">{{getFormData()?.Items[i]?.SMP | number:'':'fr-FR'}}</clv-td>
                    <clv-td align="center">{{getFormData()?.Items[i]?.PartFiliale | number:'':'fr-FR'}}</clv-td>
                    <clv-td align="center">{{getFormData()?.Items[i]?.VersementAuTraite | boolToStr}}</clv-td>
                    <clv-td align="center">{{getFormData()?.Items[i]?.Processus?.Categorie}}</clv-td>
                    <clv-td align="center">{{getFormData()?.Items[i]?.Pays?.Libelle}}</clv-td>
                    <clv-td align="center">
                        <button mat-icon-button color="primary" [matTooltip]="translateService.translate?.instant('APPS.ACTIONS.UPDATE_TOOLTIP')"
                                (click)="launchmodal(getFormData()?.Items[i], '60%')">
                            <mat-icon>create</mat-icon>
                        </button>&nbsp;
                        <button mat-icon-button color="warn" [matTooltip]="translateService.translate?.instant('APPS.ACTIONS.DELETE_TOOLTIP')"
                                type="button" (click)="askDelete(getFormData()?.Items[i])">
                            <mat-icon>delete</mat-icon>
                        </button>&nbsp;
                    </clv-td>

                </clv-tr>
            </ng-container>
        </clv-advanced-table>
    </form>
    <div class="footer w-100" [style.justify-content]="'space-between'" [style.display]="'flex'">
        <div></div>
        <div>
            <button mat-raised-button class="bg-primary" type="button"
                    mat-dialog-close>
                {{translate?.instant('APPS.ACTIONS.CLOSE')}}
            </button>
        </div>
    </div>
</app-modal-template>
