<form class="p-2" [formGroup]="getFormInstance()">
<clv-advanced-table class="table-no-pagination"
        [params]="getTableParams()" [formArrayName]="getArrayName()"
        (page)="setPageParams($event)" (search)="setSearchParams($event)">
    <clv-tr [params]="getTableParams()" [id]="2">
        <clv-td align="center">1. Part souscrite par la cédante:</clv-td>
        <clv-td align="center">100%</clv-td>
        <clv-td align="center">109 489 062 655</clv-td>
        <clv-td align="center">116 830 205</clv-td>
        <clv-td align="center"></clv-td>
        <clv-td align="center"></clv-td>
        <clv-td align="center"></clv-td>
    </clv-tr>
    <clv-tr [params]="getTableParams()" [id]="2">
        <clv-td align="center">Rétention:</clv-td>
        <clv-td align="center">0%</clv-td>
        <clv-td align="center"></clv-td>
        <clv-td align="center"></clv-td>
        <clv-td align="center"></clv-td>
        <clv-td align="center"></clv-td>
        <clv-td align="center"></clv-td>
    </clv-tr>
    <clv-tr [params]="getTableParams()" [id]="2">
        <clv-td align="center">Cession legale .../ part filiale</clv-td>
        <clv-td align="center">6,50%</clv-td>
        <clv-td align="center">7 116 789 073</clv-td>
        <clv-td align="center">7 593 963</clv-td>
        <clv-td align="center"></clv-td>
        <clv-td align="center"></clv-td>
        <clv-td align="center"></clv-td>
    </clv-tr>
    <clv-tr [params]="getTableParams()" [id]="2">
        <clv-td align="center">Cession traité EDP/100%</clv-td>
        <clv-td align="center">0%</clv-td>
        <clv-td align="center"></clv-td>
        <clv-td align="center"></clv-td>
        <clv-td align="center"></clv-td>
        <clv-td align="center"></clv-td>
        <clv-td align="center"></clv-td>
    </clv-tr>
    <clv-tr [params]="getTableParams()" [id]="2">
        <clv-td align="center">Cession Facob/100%</clv-td>
        <clv-td align="center">0%</clv-td>
        <clv-td align="center"></clv-td>
        <clv-td align="center"></clv-td>
        <clv-td align="center"></clv-td>
        <clv-td align="center"></clv-td>
        <clv-td align="center"></clv-td>
    </clv-tr>
    <clv-tr [params]="getTableParams()" [id]="2">
        <clv-td align="center">Total hors cession FAC</clv-td>
        <clv-td align="center">6,50%</clv-td>
        <clv-td align="center">7 116 789 073</clv-td>
        <clv-td align="center">7 593 963</clv-td>
        <clv-td align="center"></clv-td>
        <clv-td align="center"></clv-td>
        <clv-td align="center"></clv-td>
    </clv-tr>
</clv-advanced-table>
</form>