<app-modal-template title="Branche" (onClose)="closeModal()" [modalClass]="'bg-primary'">
    <form class="body" [formGroup]="getFormInstance()" ngNativeValidate>
        <div fxLayout="row wrap" fxLayoutGap="10px" class="control">
            <div fxFlex.md="100" fxFlex.lg="100">
                <mat-form-field class="mat-form-field-fluid">

                    <input matInput id="libelle"
                           [placeholder]="translateService?.instant('BRANCHE.FORM.LIBELLE.PLACEHOLDER')"
                           required
                           formControlName="Libelle">
                    <mat-hint align="start">{{translateService?.instant('BRANCHE.FORM.LIBELLE.HINT')}}</mat-hint>
                </mat-form-field>
                <app-form-error-list [submitted]="submitted" name="Libelle" [formGroup]="getFormInstance()"></app-form-error-list>
            </div>
            <div fxFlex.md="100" fxFlex.lg="100">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput id="code"
                           [placeholder]="translateService?.instant('BRANCHE.FORM.CODE.PLACEHOLDER')"
                           formControlName="Code" required>
                    <mat-hint align="start">{{translateService?.instant('BRANCHE.FORM.CODE.HINT')}}</mat-hint>
                </mat-form-field>
                <app-form-error-list [submitted]="submitted" name="Code" [formGroup]="getFormInstance()"></app-form-error-list>
            </div>
            <div fxFlex.md="100" fxFlex.lg="100">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput id="description"
                           [placeholder]="translateService?.instant('BRANCHE.FORM.DESCRIPTION.PLACEHOLDER')"
                           formControlName="Description" required>
                    <mat-hint align="start">{{translateService?.instant('BRANCHE.FORM.DESCRIPTION.HINT')}}</mat-hint>
                </mat-form-field>
                <app-form-error-list [submitted]="submitted" name="Description" [formGroup]="getFormInstance()"></app-form-error-list>
            </div>
        </div>
    </form>
    <div class="footer w-100" [style.justify-content]="'space-between'" [style.display]="'flex'">
        <div></div>
        <div>
            <app-save-button (click)="sendForm()"></app-save-button>&nbsp;
            <app-cancel-button mat-dialog-close cdkFocusInitial (click)="closeModal()"></app-cancel-button>
        </div>
    </div>
</app-modal-template>
