<app-modal-template title="Assuré" (onClose)="closeModal()" [modalClass]="'bg-primary'">
    <form class="body" [formGroup]="getFormInstance()" ngNativeValidate>
        <div fxLayout="row wrap" fxLayoutGap="10px" class="control">
            <div fxFlex.md="100" fxFlex.lg="100">
                <mat-form-field class="mat-form-field-fluid">

                    <input matInput id="numero_assure"
                           [placeholder]="translateService?.instant('ASSURE.FORM.NUMERO_ASSURE.PLACEHOLDER')"
                           name="numero_assure" required
                           formControlName="NumeroAssure" mat>
                    <mat-hint align="start">{{translateService?.instant('ASSURE.FORM.NUMERO_ASSURE.HINT')}}</mat-hint>
                </mat-form-field>
                <app-form-error-list name="NumeroAssure" [formGroup]="getFormInstance()"></app-form-error-list>
            </div>
            <div fxFlex.md="100" fxFlex.lg="100">
                <app-combo-re-personne #personne name="IdPersonne"
                                       [submitted]="submitted"
                                       [(inputValue)]="personneIv"
                                       (onInputChange)="optionInputHasChanged($event)"
                                       [placeholder]="translateService?.instant('ASSURE.FORM.PERSONNE.PLACEHOLDER')"
                                       [hint]="translateService?.instant('ASSURE.FORM.PERSONNE.HINT')"
                                       required="false"></app-combo-re-personne>
            </div>
            <div fxFlex.md="100" fxFlex.lg="100">
                <app-combo-re-filiale #filiale name="IdFiliale"
                                      [submitted]="submitted"
                                      [(inputValue)]="filialeIv"
                                      (onInputChange)="optionInputHasChanged($event)"
                                      [placeholder]="translateService?.instant('ASSURE.FORM.FILIALE.PLACEHOLDER')"
                                      [hint]="translateService?.instant('ASSURE.FORM.FILIALE.HINT')"
                                      required="false"></app-combo-re-filiale>
            </div>
        </div>
    </form>
    <div class="footer w-100" [style.justify-content]="'space-between'" [style.display]="'flex'">
        <div></div>
        <div>
            <button mat-raised-button class="bg-primary" type="button"
                    (click)="sendForm()">
                {{translateService?.instant('APPS.ACTIONS.SAVE')}}
            </button>&nbsp;
            <button mat-raised-button mat-dialog-close type="button" cdkFocusInitial class="bg-dark"
                    (click)="closeModal()">
                {{translateService?.instant('APPS.ACTIONS.CANCEL')}}
            </button>
        </div>
    </div>
</app-modal-template>
